<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="coin" class="work.vladimirs.entities.coin.CoinImpl">
        <constructor-arg type="java.util.Random">
            <bean class="java.util.Random"/>
        </constructor-arg>
    </bean>

    <bean id="target" class="work.vladimirs.entities.greeter.GreeterTargetImpl">
        <constructor-arg index="0" ref="coin"/>
    </bean>

    <bean id="greeter" class="work.vladimirs.entities.greeter.Greeter">
        <constructor-arg name="newTarget" ref="target"/>
    </bean>

</beans>