<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rockets Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
    <body>
        <h1>Design your rocket!</h1>
        <img th:src="@{/images/RocketsCloud.png}"/>

        <form method="POST" th:object="${rocket}">

            <span class="validationError"
                  th:if="${#fields.hasErrors('components')}"
                  th:errors="*{components}">Component Error</span>

            <div class="grid">

                <div class="component-group" id="pods">
                    <h3>Designate your pod:</h3>
                    <div th:each="component : ${pods}">
                        <input name="components" type="checkbox" th:value="${component.id}"/>
                        <span th:text="${component.name}">COMPONENT</span>
                        <br/>
                    </div>
                </div>

                <div class="component-group" id="reaction_wheels">
                    <h3>Pick your reaction wheels:</h3>
                    <div th:each="component : ${reaction_wheels}">
                        <input name="components" type="checkbox" th:value="${component.id}"/>
                        <span th:text="${component.name}">COMPONENT</span>
                        <br/>
                    </div>
                </div>

                <div class="component-group" id="engines">
                    <h3>Pick your engines:</h3>
                    <div th:each="component : ${engines}">
                        <input name="components" type="checkbox" th:value="${component.id}"/>
                        <span th:text="${component.name}">COMPONENT</span>
                        <br/>
                    </div>
                </div>

                <div class="component-group" id="fuel_tanks">
                    <h3>Pick your fuel tanks:</h3>
                    <div th:each="component : ${fuel_tanks}">
                        <input name="components" type="checkbox" th:value="${component.id}"/>
                        <span th:text="${component.name}">COMPONENT</span>
                        <br/>
                    </div>
                </div>

            </div>

            <div>
                <h3>Name your rocket creation:</h3>
                <input type="text" th:field="*{name}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
                <br/>

                <button>Submit your rocket</button>
            </div>

        </form>
    </body>
</html>